<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow"> 
    <title>Login AluraGeek</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/index.css">
    
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <header>
        <header-component></header-component>
    </header>
    <main>
        <section class="form">
            <form action="#" class="login-form" data-form>

                <p class="form-title">Iniciar Sesi&oacute;n</p>

                <input type="email" placeholder="Escriba su correo electronico" class="mail-input" data-email  autocomplete="email">
                <p class="mensaje mail"></p>

                <input type="password" placeholder="Escriba su contraseña" class="password-input" data-password>
                <p class="mensaje password"></p>
                
                <button type="button" class="form-button" data-button>
                  Entrar </button> 
            </form>
               
        </section>
        <contacto-component></contacto-component>
    </main>
   
    <footer-component></footer-component>
    <script src="../components/htmlComponents.js" type="text/javascript"></script>
   <script src="../scripts/login.js" type="module"></script>
    <script src="../components/contact.js" type="module"></script>
</body>
</html>